body{
    background:#f3f4f6;
    font-family:Arial,sans-serif;
    margin:0;
}

.container{
    max-width:900px;
    margin:auto;
    padding:20px;
}

.top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.card{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.option{
    width:100%;
    padding:18px;
    margin:10px 0;
    border:none;
    border-radius:10px;
    background:#e5e7eb;
    cursor:pointer;
    font-size:18px;
}

.option:hover{
    background:#d1d5db;
}

.correct{
    background:#22c55e !important;
    color:white;
}

.wrong{
    background:#ef4444 !important;
    color:white;
}

#result{
    margin-top:20px;
    font-size:18px;
}

#nextBtn{
    margin-top:20px;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    cursor:pointer;
}

.progress-container{
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:20px;
}

#progressBar{
    height:15px;
    width:0%;
    background:#2563eb;
}
